/*Montserrat*/
@font-face {
  font-family: 'Montserrat';
  src: url('./Montserat/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./Montserat/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

/*Mulish*/
@font-face {
  font-family: 'Mulish';
  src: url('./Mulish/Mulish-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mulish';
  src: url('./Mulish/Mulish-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Mulish';
  src: url('./Mulish/Mulish-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
